/*
	_content.css
*/

.container-shadow{
	box-shadow: 0 5px 50px -10px black;

}
.content-wrapper{
	padding-bottom: 60px;
	position: relative;
}
.bg-shadow{
	pointer-events: none;
}
.offsetpad{
	@extend .clearfix;
	padding-top: 15px;
	padding-bottom: 15px;
	@media (min-width:992px){
		padding-top: 30px;
		padding-bottom: 60px;
	}
}
//--bnr-slider
.bnr-slider{
	position: relative;
	overflow: hidden;
	@media (max-width: 991px) {
		display: none;
	}
}

.bnr-carousel{
	$slider-height: 415px;
	background-color: white;
	background-repeat: no-repeat;
	position: relative;
	background-size: cover;
	background-position: center center;
	figure{
		overflow: hidden;
		height: $slider-height;
		transition: all 2s ease;
		left: 0 !important;
		.img{
			position: absolute;
			height: 100%;
	    background-size: cover;
	    transform: scale(1.2);
	    background-position: center;
	   	filter: blur(0px) brightness(120%);
			transition: 
									transform 1.2s ease,
									opacity 1s ease-in-out,
									filter 1s linear 0.5s;
		}
		opacity: 0;
		&.is-selected{
			z-index: 1;
			opacity: 1;
			.img{
				filter: blur(0);
				transform: scale(1);
			}
		}
	}
	h1, p, .btn-def, .btn-opacity, img{
		opacity: 0;
		transition: 1s ease;
	}
	h1{
		transform: translateY(-20px);
		font-weight: 600;
	}
	p, img{
		transform: translateY(20px);	
	}
	.btn-def, .btn-opacity{
		transform: scale(1.3);
	}
	.is-selected{
		h1, p, .btn-def, .btn-opacity, img{
			transform: scale(1);
			//text-shadow: 0px 0px 0px white;
			opacity: 1;
		}
	}
	.flickity-slider{
		transform: inherit !important;
	}
	.container-arrows{
    z-index: 1;
    @extend .container;
    position: absolute;
    @extend .trans-center;
    @media (max-width:991px) {
    	width: 90%;
    }
	}
	.carousel-content{
		.align-i-center{
			height: $slider-height;
		}
		.flexboxes-item{
			&:nth-child(1){
				margin-left: 12.3%;
			}
		}
		@media (max-width: 991px) {
			.align-i-center{
				height: calc(100vh - 70px);
			}
		}
	}

	//Навигация
	.flickity-page-dots{
		margin-bottom: 70px;
	}
	// Стрелки
	.flickity-prev-next-button{
		color: $color-1;
	}
	//Кастомные стрелки
	.carousel-prev-next{
		width: ingerit;
		//((100/12)*8)+%
		left: 50%;
		transform: translateX(-50%);
		.bg-wrapper{
			bottom: 0;
			position: absolute;
			background-color: $color-2;
			height: 40px; 
		}
		.next, .prev{
			color: white;
			width: 50%;
			height: 100%;
			text-align: center;
			transform: translateY(-50%);
			transition: all 0.3s ease;
			.fa{
				padding-top: 10px;
			}
			&:hover{
				background-color: $color-3;
				color: white;
			}
		}
	}
	@media(max-width: 991px) {
		.carousel-prev-next{
			width: 100%;
		}
	}
	@media(max-width:270px) {
		word-wrap: break-word;
	}
}





.col-cut{
	margin-left: -15px;
	margin-right: -15px;
	&>*{
		padding-left: 15px;
		padding-right: 15px;
	}
}



//short-links
.short-links-items{
	figure{
		position: relative;
		&:hover{
			.img{
				transform: scale(1.1);
				filter: blur(3px);
			}
			.desc-content{
				padding-top: 15px;
				padding-bottom: 15px;
			}
		}
	}
	.img-content{
		overflow: hidden;
	}
	.img{
		height: 185px;
		background-position: center;
		transform: scale(1);
		filter: blur(0);
		transition: 0.7s ease;
		background-size: cover;
		@media (max-width: 991px) {
			height: 200px;
		}
	}
	.desc-content{
		position: absolute;
		color: white;
		transition: 0.5s ease-in-out;
		padding: 10px 15px;
		bottom: 0;
		background-color: rgba(black, 0.5);
	}
}


//contacts-block
.contacts-block-items{
	figure{
		@media (min-width: 992px){
			.desc-content{
				padding-right: 15px;
			}
		}
	}
}
.contacts-map{
	#map-canvas{
		height: 300px;
	}
}

//productions
.productions{
}
.productions-content{
	@media (min-width: 992px) {
		margin-left: 4%;
	}
}
.productions-items{
	figure{
		.wrapper{
			border: 1px solid $color-1;
			padding-bottom: 15px;
		}
		.img{
			background-position: bottom;
			height: 140px;
		}
		.desc-content{
			padding: 0 15px;
			font-size: 0.9em;
		}
	}
}

.left-bar{
	background-image: url('../img/bg/bg-origin.jpg');
	background-position: left;
	color: white;
	padding: 20px 30px 30px 30px;
	margin-bottom: 45px;
	.fa{
		vertical-align: bottom;
	}
	li{
		padding: 10px 10px;
	}
	h4{
		margin-top: 10px;
		margin-bottom: 10px;
	}
}


//productions-article
.productions-article{
	.article-img{
		.img{
			height: 200px;
			background-size: contain;
		}
		@media (min-width: 991px) {
			padding: 10px 0;
		}
	}
}


.staff-items{
	@include boxes-items( 80, 3 );
	figure{
		.img{
			background-size: cover;
			background-position: center;
			height: 220px;
		}
		@media (min-width: 992px) {
			text-align: left;
		}
	}
	@media (max-width: 991px) {
		@include boxes-items( 80, 1 );
	}
}