/* 
		_footer.scss
*/

/*
										---FOOTER---
*/



#footer{
	position: relative;
	//color: rgba(black, 0.4);
	//min-height: 150px;
	line-height: 170%;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	background-color: $color-1;
	background-image: url('../img/bg/bg-footer.jpg');
}
.footer-menu{
	ul{
		column-count: 3;
		width: 85%;
		margin: auto;
		margin-right: 0;
		text-transform: uppercase;
		font-weight: 500;
	}
	li{
		width: 100%;
		&:hover{
			color: #5782cb;
		}
	}
}
.footer-content{
	.align-i-center{
		min-height: 90px;
	}
}
.socicons{
	font-size: 20px;
	li{
		margin: 0 5px;
	}
}
.copy-content{
	background-color: $bg-color-gray;
	color: white;
}
.dev{
	font-size: 0.9em;
}



.footer-map{
	.img{
		width: 220px;
		height: 120px;
		background-size: cover;
		background-position: center;
	}
}

.fancy-map{
	#map-canvas{
		width: 70%;
	}
	.fancybox-slide{
		transform: none !important;
	}
	@media (max-width: 991px) {
		width: 90%;
		height: 320px;
	}
}
