
/* Montserrat */
@font-face {
    font-family: 'Montserrat';
    src: url($path+'Montserrat-LightItalic.woff2') format('woff2'),
        url($path+'Montserrat-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url($path+'MontserratAlternates-SemiBoldItalic.woff2') format('woff2'),
        url($path+'MontserratAlternates-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url($path+'Montserrat-MediumItalic.woff2') format('woff2'),
        url($path+'Montserrat-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url($path+'MontserratAlternates-Medium.woff2') format('woff2'),
        url($path+'MontserratAlternates-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url($path+'Montserrat-Medium.woff2') format('woff2'),
        url($path+'Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url($path+'MontserratAlternates-ExtraBold.woff2') format('woff2'),
        url($path+'MontserratAlternates-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url($path+'Montserrat-Bold.woff2') format('woff2'),
        url($path+'Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url($path+'Montserrat-SemiBold.woff2') format('woff2'),
        url($path+'Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url($path+'Montserrat-BlackItalic.woff2') format('woff2'),
        url($path+'Montserrat-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url($path+'MontserratAlternates-BlackItalic.woff2') format('woff2'),
        url($path+'MontserratAlternates-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url($path+'MontserratAlternates-Black.woff2') format('woff2'),
        url($path+'MontserratAlternates-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url($path+'Montserrat-Light.woff2') format('woff2'),
        url($path+'Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url($path+'Montserrat-ExtraBoldItalic.woff2') format('woff2'),
        url($path+'Montserrat-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url($path+'MontserratAlternates-Regular.woff2') format('woff2'),
        url($path+'MontserratAlternates-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url($path+'Montserrat-ThinItalic.woff2') format('woff2'),
        url($path+'Montserrat-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url($path+'Montserrat-SemiBoldItalic.woff2') format('woff2'),
        url($path+'Montserrat-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates ExLight';
    src: url($path+'MontserratAlternates-ExtraLight.woff2') format('woff2'),
        url($path+'MontserratAlternates-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url($path+'MontserratAlternates-ExtraBoldItalic.woff2') format('woff2'),
        url($path+'MontserratAlternates-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url($path+'MontserratAlternates-Bold.woff2') format('woff2'),
        url($path+'MontserratAlternates-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url($path+'Montserrat-Italic.woff2') format('woff2'),
        url($path+'Montserrat-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url($path+'MontserratAlternates-ThinItalic.woff2') format('woff2'),
        url($path+'MontserratAlternates-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url($path+'Montserrat-Thin.woff2') format('woff2'),
        url($path+'Montserrat-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url($path+'MontserratAlternates-SemiBold.woff2') format('woff2'),
        url($path+'MontserratAlternates-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url($path+'Montserrat-ExtraBold.woff2') format('woff2'),
        url($path+'Montserrat-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url($path+'Montserrat-ExtraLightItalic.woff2') format('woff2'),
        url($path+'Montserrat-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url($path+'MontserratAlternates-Italic.woff2') format('woff2'),
        url($path+'MontserratAlternates-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url($path+'Montserrat-BoldItalic.woff2') format('woff2'),
        url($path+'Montserrat-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url($path+'MontserratAlternates-MediumItalic.woff2') format('woff2'),
        url($path+'MontserratAlternates-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url($path+'MontserratAlternates-Light.woff2') format('woff2'),
        url($path+'MontserratAlternates-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url($path+'MontserratAlternates-LightItalic.woff2') format('woff2'),
        url($path+'MontserratAlternates-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url($path+'MontserratAlternates-BoldItalic.woff2') format('woff2'),
        url($path+'MontserratAlternates-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url($path+'Montserrat-ExtraLight.woff2') format('woff2'),
        url($path+'Montserrat-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Alternates ExLight';
    src: url($path+'MontserratAlternates-ExtraLightItalic.woff2') format('woff2'),
        url($path+'MontserratAlternates-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat Alternates';
    src: url($path+'MontserratAlternates-Thin.woff2') format('woff2'),
        url($path+'MontserratAlternates-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url($path+'Montserrat-Regular.woff2') format('woff2'),
        url($path+'Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url($path+'Montserrat-Black.woff2') format('woff2'),
        url($path+'Montserrat-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

